#flash.flashes {
    position: fixed;
    left: 40vw;
    top: 5vh;
    z-index: 99999999999;
}

#error.alert {
    position: fixed;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}